@import "config";

// ? Main BLOCK

// ? Header
.header {
	background-color: rgba($accent, 1);
	padding: 18px 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	transition: all 0.3s;
	box-shadow: 0px 3px 0px #ff9600;
	// box-shadow: 0px 0px 9.75px 3.25px rgba(255, 197, 0, 0.65);
	&.scroll {
		padding: 10px 0;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&--mobile {
			display: none;
		}
		.nav {
			display: flex;
			width: 60%;
			justify-content: space-between;
			&__item {
				font-size: 18px;
				font-weight: 700;
				color: #000;
				margin: 0 16px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
/* Social Links */
.social {
	&__item {
		display: inline-block;
		margin: 0 16px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

.main {
	background: url(../images/dest/main-bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 235px;
	padding-bottom: 200px;
	overflow: hidden;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.description {
	&__title {
		color: $accent;
		font-size: 56px;
		font-weight: 900;
		line-height: 1.2;
		text-transform: uppercase;
		&::after {
			content: "";
			display: block;
			width: 115px;
			height: 5px;
			background-color: #ffffff;
			margin-top: 30px;
		}
	}

	&__subtitle {
		font-weight: 900;
		font-size: 36px;
		margin-top: 30px;
		line-height: 1;
	}
}
.included {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__item {
		display: flex;
		align-items: center;
		&::before {
			content: "";
			display: block;
			background: url(../images/dest/plus.png) center no-repeat;
			width: 48px;
			height: 48px;
			margin-right: 10px;
		}
	}
}
.play {
	position: relative;
	cursor: pointer;
	&__wrapp {
		position: relative;
		width: 193px;
		height: 193px;
		opacity: 0; //! Временно скрытый блок
	}
	&__pulse {
		width: 193px;
		height: 193px;
		border: 1px solid $accent;
		animation: border-pulse 3s infinite;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__btn {
		display: block;
		width: 193px;
		height: 193px;
		background: url(../images/dest/play.png) center no-repeat;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__author {
		position: absolute;
		top: -120px;
		left: -350px;
	}
	&__text {
		font-size: 14px;
		line-height: 1.3;
		position: absolute;
		top: -48px;
		left: 35px;
		&::before {
			content: "";
			display: block;
			background: url(../images/dest/line.png) center no-repeat;
			background-size: cover;
			width: 19px;
			height: 84px;
			position: absolute;
			top: 30px;
			left: -30px;
		}
	}
}

.btn {
	display: block;
	font-weight: 900;
	color: #000000;
	width: 270px;
	padding: 25px 0;
	background-color: $accent;
	border-radius: 32.5px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	box-shadow: 0px 0px 9.75px 3.25px rgba(255, 197, 0, 0.65);
	transition: all 0.1s;
	&:hover {
		box-shadow: $hover-shadow;
	}
	&--top {
		margin-top: 60px;
	}
	&:hover {
		text-decoration: none;
		color: #000;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		box-shadow: 0px 3px 0px #ff9600;
		border-radius: 32.5px;
		top: 0;
		left: 0;
	}
	&:active {
		transform: translateY(2px);
		box-shadow: 0px 0px 9.75px 1.25px rgba(255, 197, 0, 0.65);
		&::after {
			box-shadow: 0px 2px 0px #ff9600;
		}
	}
}

//? Problem
.problem {
	background: url(../images/dest/problem-bg.jpg) center no-repeat;
	background-size: cover;
	padding: 100px 0;
	.container {
		display: flex;
		justify-content: center;
	}
	&__content {
		margin-left: 500px;
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 21px;
		font-weight: 700;
		margin-top: 86px;
	}

	&__items {
		margin: 20px 0;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			display: block;
			width: 34px;
			height: 3px;
			background-color: $accent;
			margin-right: 30px;
		}
	}
}
.heading {
	&__title {
		font-size: 42px;
		text-transform: uppercase;
		text-align: center;
	}
	&__title--left {
		text-align: left;
	}
	&__title--accent {
		color: $accent;
	}

	&__subtitle {
		font-size: 28px;
		font-weight: 700;
		text-align: center;
	}
	&__subtitle--left {
		text-align: left;
	}
}

// ? Now
.now {
	padding-top: 120px;
	padding-bottom: 160px;
	background: url(../images/dest/now-bg.jpg) center no-repeat;
	background-size: cover;
	&__content {
		margin: 70px auto 0;
		width: 900px;
		background-color: #121212;
		border-radius: 10px;
		padding: 18px;
		box-shadow: 1.813px 1.827px 37.15px 25.85px rgba(0, 0, 0, 1);
	}
	&__description {
		padding: 60px 0 60px 125px;
		border: 1px solid #6e5500;
		border-radius: 10px;
		margin-bottom: 0;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.7;
		position: relative;
		span {
			display: block;
		}
		&::before {
			content: "";
			display: block;
			background: url(../images/dest/bitcoin.png) center no-repeat;
			background-size: cover;
			width: 241px;
			height: 144px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -140px;
		}
		&::after {
			content: "";
			display: block;
			background: url(../images/dest/artem-2.png) center no-repeat;
			background-size: cover;
			position: absolute;
			width: 509px;
			height: 566px;
			top: 60%;
			transform: translateY(-50%);
			right: -190px;
		}
		&--accent {
			color: $accent;
		}
	}
	.btn--now {
		margin: 0 auto;
		margin-top: 16px;
		transform: translateX(-50%);
	}
}

// ? Benefits
.benefits {
	padding: 120px 0;
	background: url(../images/dest/now2-bg.jpg) center no-repeat;
	background-size: cover;
	&__content {
		margin-top: 65px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 60px;
	}

	&__items {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}

	&__text {
		margin: 0;
		margin-left: 25px;
	}

	&__text--accent {
		color: $accent;
	}
	.btn {
		margin: 0 auto;
	}
}

// ? Rate
.rate {
	padding: 120px 0;
	background: url(../images/dest/rate-bg.png) center no-repeat;
	background-size: cover;
	.heading {
		&__subtitle {
			font-size: 44px;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 65px;
		margin-bottom: 60px;
	}
	&__item {
		padding: 23px;
		background-color: #161616;
		border-radius: 31px;
		max-width: 360px;
		width: 360px;
		height: 470px;
		text-align: center;
		transition: all 0.2s;
		.item__price {
			display: block;
			margin-top: 10px;
			&--accent {
				color: $accent;
				font-weight: 700;
				font-size: 20px;
			}
		}
		&:hover {
			transform: scale(1.05);
			box-shadow: $hover-shadow;
		}
	}
	.btn {
		margin: 0 auto;
	}
}
.item {
	&__wrapp {
		border: 1px solid #6e5500;
		border-radius: 31px;
		padding: 21px;
		padding-top: 40px;
		height: 427px;
	}

	&__title {
		color: $accent;
		font-size: 21px;
		font-weight: 900;
		margin-bottom: 54px;
		height: 60px;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 700;
	}
}

// ? Form
.form {
	position: relative;
	padding: 120px 0;
	background: url(../images/dest/form-bg.png) center no-repeat;
	background-size: cover;
	overflow: hidden;
	&__content {
		margin-top: 70px;
		background-color: rgb(18, 18, 18);
		box-shadow: 1.813px 1.827px 37.15px 25.85px rgba(0, 0, 0, 1);
		max-width: 573px;
		border-radius: 10px;
		padding: 34px 26px;
		position: relative;
	}
	&__wrap {
		border: 1px solid #6e5500;
		border-radius: 10px;
		padding: 40px 30px;
	}
	&__label {
		color: $accent;
		font-weight: 700;
	}
	&__input {
		width: 100%;
		border: none;
		padding: 20px;
		padding-left: 23px;
		border-radius: 10px;
		margin-bottom: 30px;
	}
	&__btn {
		width: 100%;
		border: none;
		outline: none;
	}
	&__author {
		position: absolute;
		left: 55%;
		bottom: 0;
		z-index: 0;
	}
}

// ? Reviews
.reviews {
	padding: 120px 0;
	background: url(../images/dest/reviews-bg.png) center no-repeat;
	background-size: cover;
	&__content {
		text-align: center;
		margin: 0 auto;
		margin-top: 60px;
		// width: 870px;
	}
	&__item {
		width: 290px !important;
		display: flex !important;
		justify-content: center !important;
	}
	.slick-slide {
		display: flex !important;
		justify-content: center !important;
		width: 215px !important;
		opacity: 0;
		transition: all 0.5s ease-in-out;
		img {
			opacity: 0.1;
		}
	}
	.slick-active {
		opacity: 1 !important;
		transition: all 0.5s ease-in-out;
		img {
			opacity: 0.1 !important;
			transition: all 0.5s ease-in-out;
		}
	}
	.slick-center {
		transition: all 0.5s ease-in-out;
		img {
			opacity: 1 !important;
			z-index: 2;
		}
	}
	.slick-next,
	.slick-prev {
		width: 87px;
		height: 87px;
		z-index: 1;
		top: 50%;
	}
	.slick-next {
		right: 70px;
	}
	.slick-prev {
		left: 70px;
	}
	.slick-next:before,
	.slick-next:before,
	.slick-prev:before {
		content: "";
		display: block;
		width: 87px;
		height: 87px;
		background: url(../images/dest/arrow.png) center no-repeat;
	}
	.slick-prev:before {
		transform: rotate(180deg);
	}
}

// ? FAQ
.faq {
	padding: 120px 0;
	background: url(../images/dest/faq-bg.jpg) center no-repeat;
	background-size: cover;
	.accordion {
		margin-top: 40px;
		.panel {
			background-color: #121212;
			margin-bottom: 15px;
			border-radius: 10px;
			box-shadow: 1.813px 1.827px 37.15px 25.85px #000;
			&__title {
				background-color: #121212;
				border-radius: 10px;
				padding: 18px 0 18px 20px;
				cursor: pointer;
				display: flex;
				align-items: center;
				position: relative;
				justify-content: space-between;
				a {
					font-size: 18px;
					font-weight: 700;
					color: $accent;
					&:hover {
						text-decoration: none;
					}
				}
				&::after {
					content: "";
					min-width: 10px;
					min-height: 10px;
					display: inline-block;
					margin-right: 18px;
					display: inline-block;
					background: url(../images/dest/open-faq.png) center no-repeat;
					transition: all 0.3s ease-in-out;
					background-size: cover;
				}
				&.in {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
			&__collapse {
				display: none;
				padding: 18px;
				padding-top: 0;
				ul {
					line-height: 21px;
					list-style: none;
					font-size: 15px;
					list-style: square outside;
					color: #2b8fe4;
					padding-bottom: 20px;
					li {
						padding-left: 5px;
						margin-bottom: 16px;
					}
					li:last-child {
						margin-bottom: 0;
					}
				}
				p {
					text-align: left;
					padding-top: 0;
				}
			}
		}
	}
}
/* FAQ END*/

/* Footer */
.footer {
	padding: 60px 0;
	&__wrap {
		.row {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		.requisites .requisites__block {
			margin-top: 30px;
		}
		.requisites ul {
			list-style: none;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}
		.requisites ul li {
			cursor: pointer;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
		}
		.requisites ul li img {
			margin-right: 15px;
		}
		.requisites ul li:hover {
			color: $accent;
		}
		.requisites ul li a {
			color: #fff;
		}
		.contacts__block {
			margin-top: 30px;
		}
		.contacts__block a:hover,
		.requisites ul li a:hover {
			text-decoration: none;
			color: $accent;
		}
		.contacts__block a:hover img,
		.thanks__popup_content img:hover {
			opacity: 1;
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 700;
		color: $accent;
	}
	&__block {
		width: 30%;
	}
	&__block {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}
	a {
		color: #fff;
		font-weight: 700;
		transition: color 0.1s;
		img {
			opacity: 0.8;
			transition: opacity 0.1s;
			margin-right: 15px;
		}
	}
	.contacts .mail,
	.footer__wrap .contacts .phone {
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}
}

/* Popup */
.bg__modal {
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	display: none;
	z-index: 99999;
}
.modals {
	position: absolute;
	max-width: 800px;
	background-color: #121212;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 34px 26px;
	box-shadow: 1.813px 1.827px 37.15px 25.85px rgba(0, 0, 0, 0.5);
	&__wrap {
		border: 1px solid #6e5500;
		border-radius: 10px;
		padding: 40px 30px;
	}
	.close {
		position: absolute;
		top: 8px;
		right: 10px;
		width: 18px;
		height: 18px;
		img {
			width: 100%;
		}
	}
	.title__block {
		display: flex;
		align-items: center;
		text-align: center;
		margin-bottom: 20px;
	}
}
#politic {
	overflow-y: scroll;
	.modals {
		top: 0;
		transform: translateX(-50%);
		p {
			font-size: 14px;
		}
	}
}

/* Thanks popup */
.thanks__popup {
	display: none;
	position: fixed;
	background-color: rgba(0,0,0, .5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.thanks__popup_content {
	background-color: #121212;
	color: $textcolor;
	text-align: center;
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	z-index: 999;
	width: 500px;
	padding: 20px 20px 40px;
	box-shadow: 1.813px 1.827px 37.15px 25.85px rgba(0, 0, 0, 0.5);
}

.thanks__popup_content h3 {
	font-size: 20px;
}

.thanks__popup_content span {
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 15px;
}

.thanks__popup_content .close__btn {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	transform: translateX(-50%);
	z-index: 9999;
}
.thanks__popup_content .close__btn::before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	background: url(../images/dest/close.png) center no-repeat;
}
/* Thanks popup */

//? Анимация
@keyframes border-pulse {
	0% {
		transform: scale(1);
		opacity: 0.3;
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

//? Медиазапросы
@media (max-width: 1400px) {
	.main {
		padding-top: 170px;
		padding-bottom: 150px;
	}
	.now__description::after {
		width: 431px;
		height: 480px;
		right: -120px;
	}
	.form {
		padding-bottom: 80px;
		&__author {
			width: 500px;
		}
	}
	.slick-next {
		right: 25px !important;
	}
	.slick-prev {
		left: 25px !important;
	}
	.modals {
		max-width: 100%;
		width: 60%;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 1100px;
		padding: 0 20px;
	}
	.header__wrap .nav {
		width: 63%;
	}
	.main {
		padding-top: 220px;
		padding-bottom: 150px;
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			position: relative;
			.play {
				position: absolute;
				right: 0;
				bottom: 0;
				&__author {
					top: -370px;
					left: -350px;
				}
			}
		}
		.included {
			flex-direction: column;
		}
	}
	.problem__list {
		margin-top: 40px;
	}

	.problem {
		padding: 60px 0;
		&__content {
			margin-left: 400px;
		}
		&__items {
			font-size: 16px;
			margin: 14px 0;
		}
	}
	.now__content {
		width: 720px;
	}
	.now__description {
		font-size: 16px;
		&::after {
			width: 320px;
			height: 356px;
			right: -140px;
			top: 50%;
		}
	}
	.now .btn--now {
		transform: translateX(-30%);
	}
	.heading {
		&__title {
			font-size: 35px;
		}
		&__subtitle {
			font-size: 20px;
		}
	}
	.rate {
		&__content {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			margin: 20px;
		}
	}
	.form {
		padding-bottom: 500px;
		display: flex;
		justify-content: center;
		overflow: hidden;
		&__content {
			margin: 0 auto;
			margin-top: 70px;
		}
		&__author {
			left: 50%;
			transform: translateX(-50%);
			bottom: -20%;
		}
	}
	.modals {
		width: 80%;
	}
}
@media (max-width: 992px) {
	.header__wrap--desktop {
		display: none;
	}
	.header.scroll {
		padding: 18px 0;
	}
	.header__wrap--mobile {
		display: flex;
		.nav a {
			text-transform: uppercase;
			margin: 0 20px;
			font-weight: 700;
			color: #000;
			margin-bottom: 20px;
		}
		.nav_btn {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			z-index: 1;
		}
		.nav_btn .line {
			display: block;
			width: 40px;
			height: 3px;
			background: #000;
			transition: all 0.2s ease-in-out;
			position: relative;
		}
		.nav_btn .line::before,
		.line::after {
			display: block;
			position: absolute;
			content: "";
			z-index: -1;
			width: 40px;
			height: 3px;
			background: #000;
			transition: all 0.2s ease-in-out;
		}
		.nav_btn .line::before {
			top: -14px;
		}
		.nav_btn .line::after {
			top: 14px;
		}
		.nav {
			display: flex;
			flex-direction: column;
			position: fixed;
			top: 0;
			left: 0;
			margin: 0 !important;
			background-color: $accent;
			width: 100%;
			padding: 20px;
			transform: translateY(-100%);
			transition: all 0.2s;
		}
		.nav__item {
			font-size: 25px;
		}
		.nav__item:first-child {
			margin-left: 20px;
			margin-top: 20px;
		}
		.nav.active {
			transform: translateY(0);
		}
		.nav_btn__active .line {
			background: none;
		}
		.nav_btn__active .line::before {
			transform: rotate(-45deg);
			background: #4c4c4c;
		}
		.nav_btn__active .line::after {
			transform: rotate(45deg);
			background: #4c4c4c;
		}
		.nav_btn__active .line::before,
		.nav_btn__active .line::after {
			top: 0px;
		}
	}
	.main {
		padding-bottom: 100px;
		padding-top: 150px;
		position: relative;
		&__content {
			position: static;
			.play {
				bottom: 27%;
				left: 59%;
				right: auto;
				&__author {
					top: -55px;
					left: -149px;
					img {
						width: 600px;
					}
			  }
			}
		}
	}
	.btn--top {
		margin-top: 20px;
	}
	.problem {
		padding: 40px 0;
		&__content {
			margin-left: 330px;
		}
		&__items {
			margin: 10px 0;
			font-size: 14px;
		}
		&__list {
			margin-top: 20px;
		}
	}
	.now {
		padding-top: 40px;
		padding-bottom: 270px;
		overflow: hidden;
	}
	.now__content {
		margin-top: 100px;
	}
	.now__description {
		padding: 60px;
	}
	.now__description::before {
		top: -20%;
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		height: 119px;
	}
	.now__description::after {
		right: auto;
		left: 50%;
		top: 130%;
		transform: translateX(-50%);
	}
	.now .btn--now {
		transform: translateX(0);
	}
	.heading {
		&__title {
			font-size: 30px;
		}
		&__subtitle {
			font-size: 18px;
		}
	}
	.benefits {
		padding-top: 40px;
		&__content {
			justify-content: start;
		}
	}
	.rate {
		&__content {
			margin: 30px 0;
		}
		padding: 40px 0;
		.heading {
			&__subtitle {
				font-size: 30px;
			}
		}
		&__item {
			margin: 20px;
			padding: 20px;
		}
		.item__title {
			height: 46px;
			font-size: 20px;
		}
		.item__subtitle {
			font-size: 16px;
		}
		.item__desc {
			font-size: 14px;
		}
	}
	.reviews {
		padding: 40px 0;
	}
	.faq {
		padding: 40px 0;
		.accordion {
			.panel {
				.panel__title a {
					font-size: 16px;
					line-height: 18px;
				}
				p {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
	.form {
		padding-top: 40px;
		padding-bottom: 460px;
		&__author {
			bottom: -20%;
		}
	}
	.footer__wrap {
		.requisites ul li {
			font-size: 14px;
			font-weight: 500;
		}
		.contacts__block a {
			font-size: 14px;
			font-weight: 500;
		}
		.row {
			flex-wrap: wrap;
		}
		.footer__block {
			margin: 10px;
			margin-bottom: 40px;
			width: 100%;
		}
	}
	.modals {
		padding: 20px;
		padding-top: 40px;
		.title__block {
			margin-bottom: 0;
			h2 {
				font-size: 18px;
				line-height: 20px;
			}
		}
		p {
			line-height: 16px;
		}
	}
}
@media (max-width: 768px) {
	.main {
		padding-bottom: 200px;
	}
	.now__content {
		width: 500px;
	}
	.now__description {
		padding: 30px;
		padding-top: 60px;
	}
	.problem__content {
		margin-left: 0;
	}
	.problem {
		padding-top: 60px;
		padding-bottom: 280px;
		background: url(../images/dest/problem-bg-m.jpg) center no-repeat;
		background-size: cover;
		.heading__title {
			text-align: center;
		}
		.heading__subtitle {
			text-align: center !important;
		}
		&__list {
			margin-top: 60px;
		}
		&__items {
			margin: 25px 0;
		}
	}
	.benefits {
		&__content {
			flex-wrap: wrap;
			margin-bottom: 0px;
		}
	}
	.form {
		background: url(../images/dest/form-bg-m.png) center 50px no-repeat;
		background-size: cover;
		overflow: hidden;
		padding-bottom: 500px;
		&__author {
			width: 480px;
			bottom: -15%;
		}
	}

	.modals {
		width: 90%;
	}
}
@media (max-width: 576px) {
	.container {
		padding: 0 10px;
	}
	.btn {
		padding: 12px 0;
		width: 220px;
		font-size: 14px;
	}
	.header__wrap--mobile .nav__item {
		font-size: 18px;
	}
	.header.scroll {
		padding: 0;
		z-index: 6;
	}
	.header {
		padding: 0;
	}
	.header__wrap--mobile .nav_btn .line {
		width: 30px;
	}
	.header__wrap--mobile .nav_btn .line::before {
		top: -10px;
		width: 30px;
	}
	.header__wrap--mobile .nav_btn .line::after {
		top: 10px;
		width: 30px;
	}
	
	.header__wrap--mobile .nav_btn__active .line::before {
		top: 0;
	}
	.header__wrap--mobile .nav_btn__active .line::after {
		top:0;
	}
	.social__item {
		margin: 0 5px;
		img {
			width: 25px;
			height: 25px;
		}
	}
	.main {
		background: url(../images/dest/main-bg-m.jpg) center no-repeat;
		background-size: cover;
		padding-bottom: 215px;
		padding-top:45px;
	}
	.description {
		&__title {
			font-size: 30px;
			&::after {
				display: none;
			}
		}
		&__subtitle {
			font-size: 16px;
			margin-top: 5px;
		}
		.included {
			margin-top: 10px;
			&__item {
				font-size: 14px;
			}
			&__item::before {
				width: 35px;
				height: 35px;
			}
		}
	}
	.play {
		bottom: 20% !important;
		&__wrapp {
			width: 100px;
			height: 100px;
		}
		&__pulse {
			width: 100px;
			height: 100px;
		}
		&__btn {
			width: 100px;
			height: 100px;
			background-size: cover;
		}
		&__text {
			font-size: 12px;
			left: 20px;
			&::before {
				width: 16px;
				height: 68px;
				top: 23px;
				left: -25px;
			}
		}
		&__author {
			z-index: 1;
			top: 0!important;
			left: -175px !important;
			img {
				max-width: 300px;
			}
		}
	}
	.now__content {
		width: 300px;
		padding: 12px;
	}
	.now__description {
		padding: 18px;
		padding-top: 50px;
		font-size: 11px;
		&::before {
			top: -29%;
			width: 134px;
			height: 80px;
		}
		&::after {
			width: 260px;
			height: 289px;
		}
	}
	.now .btn--now {
		margin-top: 20px;
	}
	.benefits {
		background: url(../images/dest/now2-bg-m.jpg) center no-repeat;
		background-size: cover;
		&__content {
			justify-content: center;
		}
		&__items {
			flex-direction: column;
		}
		&__text {
			margin-top: 20px;
			margin-left: 0;
			text-align: center;
		}
	}
	.rate {
		&__item {
			height: 430px;
			margin: 20px 0;
			.item__title {
				font-size: 16px;
				text-transform: uppercase;
				height: 35px;
			}
			.item__wrapp {
				padding: 10px;
				padding-top: 40px;
				height: 387px;
			}
		}
	}
	
	.slick-next,
	.slick-prev {
		display: none !important;
	}
	.faq {
		.accordion {
			.panel {
				.panel__title a {
					font-size: 12px;
					line-height: 14px;
				}
				p {
					font-size: 12px;
					line-height: 14px;
				}
			}
		}
	}
	.form {
		padding-bottom: 320px;
		.container {
			padding: 0;
		}
		&__content {
			padding: 18px;
		}
		&__wrap {
			padding: 40px 20px;
		}
		&__label {
			font-size: 14px;
		}
		&__input {
			margin-bottom: 20px;
			padding: 15px;
		}
		&__btn {
			padding: 15px;
		}
		&__author {
			bottom: -12%;
			width: 300px;
		}
	}
	.modals {
		width: 100%;
		.title__block h2 {
			font-size: 14px;
			line-height: 16px;
		}
		.close {
			top: -8px;
		}
		p {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 20px;
		}
		a {
			font-size: 16px;
			margin-top: 20px;
		}
	}
	.thanks__popup {
		width: 100%;
	}
	.footer__wrap .requisites ul li {
		font-size: 12px;
	}
}
